In [83]:
# import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [84]:
df = pd.read_excel('/content/LogRegDemo.xlsx', sheet_name='Data')
df.shape

(267, 2)

In [85]:
# Check for missing data

df.isnull().sum()

Points     0
Result     0
dtype: int64

In [86]:
df.head()

   Points   Result
0       68       1
1       83       0
2       98       1
3      106       1
4       67       0

In [87]:
# count the number of wins
from collections import Counter

# count the number of 0 = Non-Fraud vs. 1 = Fraud
counter = Counter(df['Result'])
print(counter)
wins = df['Result'].sum() / len(df)
print('P(W):', wins)

Counter({1: 154, 0: 113})
P(W): 0.5767790262172284

In [88]:
X = df.drop('Result', axis=1)
y = df['Result']

In [89]:
# SPlit data into 80/20 split

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, 
                                                    random_state=42, shuffle=False) # change to False to mimic Excel
print('Number of training instances:', len(X_train))
print('Number of test instances:', len(y_test))

Number of training instances: 200
Number of test instances: 67

### Logistic Regression Classifier

In [90]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics


logreg = LogisticRegression()
logreg.fit(X_train,y_train)
y_pred_log = logreg.predict(X_test)
acc_LOG = metrics.accuracy_score(y_test, y_pred_log)

print("Logistic Regression Accuracy:", acc_LOG)
print()

df_LOG = pd.DataFrame({'Actual':y_test, 'Predicted':y_pred_log})
df_LOG['Predicted'] = df_LOG['Predicted'].astype(int)
results = ["True Negative","False Positive","False Negative","True Positive"]

df_LOG = df_LOG.groupby(["Actual", "Predicted"]).size().reset_index(name="Count")
df_LOG['Result'] = results 
df_LOG = df_LOG[["Result","Actual","Predicted","Count"]]

print('Model Coefficients:')
print('B0:', logreg.intercept_, "B1:", logreg.coef_, )

df_LOG.head()

Logistic Regression Accuracy: 0.6268656716417911

Model Coefficients:
B0: [-6.86840081] B1: [[0.0957216]]

           Result  Actual  Predicted  Count
0   True Negative       0          0     20
1  False Positive       0          1      7
2  False Negative       1          0     18
3   True Positive       1          1     22